## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## RustQuant: A Rust library for quantitative finance tools.
## Copyright (C) 2023 https://github.com/avhz
## Dual licensed under Apache 2.0 and MIT. 
## See:
##      - LICENSE-APACHE.md 
##      - LICENSE-MIT.md
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## GENERAL CONFIGURATION
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[package]
name = "RustQuant"
authors = ["avhz <RustQuantContact@gmail.com>"]
description = "A Rust library for quantitative finance."
version = "0.0.37"
edition = "2021"
readme = "README.md"
repository = "https://github.com/avhz/RustQuant"
keywords = [
    "quantitative",
    "finance",
    "option-pricing",
    "statistics",
    "quantlib",
]
categories = ["finance", "mathematics", "science", "algorithms", "simulation"]
license = "MIT OR Apache-2.0"

[profile.release]
debug = true

## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## RUSTDOC CONFIGURATION
## Includes KaTeX for math rendering.
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--html-in-header", "katex_header.html", "--cfg", "docsrs"]


## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## DEPENDENCIES
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[dependencies]
csv = "1.3.0"         # https://docs.rs/csv/latest/csv/
nalgebra = "0.32.2"   # https://docs.rs/nalgebra/latest/nalgebra/
ndarray = "0.15.6"    # https://docs.rs/ndarray/latest/ndarray/
num = "0.4.1"         # https://docs.rs/num/latest/num/
num-complex = "0.4.2" # https://docs.rs/num-complex/latest/num_complex/
num-traits = "0.2.16" # https://docs.rs/num-traits/latest/num_traits/
plotters = "0.3.4"    # https://docs.rs/plotters/latest/plotters/
rand = "0.8.5"        # https://docs.rs/rand/latest/rand/
rand_distr = "0.4.3"  # https://docs.rs/rand_distr/latest/rand_distr/
rayon = "1.6.0"       # https://docs.rs/rayon/latest/rayon/
serde = "1.0.163"     # https://docs.rs/serde/latest/serde
serde_json = "1.0.96" # https://docs.rs/serde_json/latest/serde_json
statrs = "0.16.0"     # https://docs.rs/statrs/latest/statrs/
thiserror = "1.0.47"  # https://docs.rs/thiserror/latest/thiserror/

time = { version = "0.3.20", features = [
    "macros",
] } # https://docs.rs/time/latest/time/


## Optional dependencies

# https://docs.rs/polars/latest/polars/
polars = { version = "0.33.2", optional = true, features = [
    "serde",
    "json",
    "parquet",
    "dtype-struct",
    "dtype-date",
    "lazy",
] }

# https://docs.rs/tokio/latest/tokio/
tokio = { version = "1.28.1", optional = true, features = [
    "macros",
    "rt-multi-thread",
] }

# https://docs.rs/tokio-test/latest/tokio_test/
tokio-test = { version = "0.4.2", optional = true }

# https://docs.rs/yahoo-finance-api/latest/yahoo_finance_api/
yahoo_finance_api = { version = "2.0.0", optional = true }


[dev-dependencies]
finitediff = "0.1.4" # https://docs.rs/finitediff/latest/finitediff/


## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## FEATURES
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[features]

## This feature is used to enable the use of the `data` module.
## It is disabled by default, since the addition of Polars
## increases the compilation time substantially.
data = ["dep:polars", "dep:tokio", "dep:tokio-test", "dep:yahoo_finance_api"]

## This feature is used to allow the end user to seed their stochastic processes.
seedable = []


## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## EXAMPLES
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[[example]]
name = "yahoo_finance"
required-features = ["data"]


## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
## PYTHON BINDINGS
## ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

# [lib]
# name = "RustQuant"
# crate-type = ["cdylib"]

# [dependencies.pyo3]
# version = "0.19.0"
# features = ["abi3-py37", "extension-module"]
